@model FittingsManager.ViewModels.FittingFormViewModel
@{
    ViewBag.Title = "FittingForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add or Update Ship Fitting</h2>

@using (Html.BeginForm("Save", "Fitting"))
{

    <div class="form-group">
        @Html.LabelFor(f => f.Fitting.FittingName)
        @Html.TextBoxFor(f => f.Fitting.FittingName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(f => f.Fitting.FittingNumber)
        @Html.TextBoxFor(f => f.Fitting.FittingNumber, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(f => f.Fitting.ManufacturerCode)
        @Html.TextBoxFor(f => f.Fitting.ManufacturerCode, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(f => f.Fitting.FittingType)
        @Html.DropDownListFor(f => f.Fitting.FittingTypeId, new SelectList(Model.FittingTypes, "Id", "FittingTypeName"),
        "Select Fitting Type", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(f => f.Fitting.FittingLocation)
        @Html.DropDownListFor(f => f.Fitting.FittingLocationId, new SelectList(Model.FittingLocations, "Id", "LocationName"),
        "Select Fitting Location", new { @class = "form-control" })
    </div>
    @Html.HiddenFor(f => f.Fitting.Id)
    <button type="submit" class="btn btn-success">Save</button>
}